openapi: 3.0.1
info:
  title: common-platform-product-mgmt
  description: Product Management Core Application
  contact:
    name: Firefly Software Solutions Inc
    email: dev@getfirefly.io
  version: 1.0.0
servers:
  - url: http://core.getfirefly.io/products
    description: Development Environment
  - url: /
    description: Local Development Environment
tags:
  - name: Product Lifecycle
    description: APIs for managing lifecycle stages or events associated with a specific product
  - name: Product Limit
    description: APIs for managing limits (restrictions, thresholds, etc.) associated with a specific product
  - name: Product Feature
    description: APIs for managing features associated with a specific product
  - name: Product Documentation Requirements
    description: APIs for managing documentation requirements for products during the contracting/opening phase
  - name: Product Documentation
    description: APIs for managing documentation (manuals, guides, etc.) associated with a specific product
  - name: Product Relationship
    description: APIs for managing relationships between products
  - name: Product Pricing Localization
    description: APIs for managing localized pricing data under a specific product pricing record
  - name: Fee Application Rule
    description: APIs for managing fee application rules in a specific fee structure component
  - name: Product
    description: APIs for managing core product entities in the product management platform
  - name: Product Fee Component
    description: APIs for managing components under a specific fee structure
  - name: Product Version
    description: APIs for managing different versions of a product
  - name: Product Fee Structure
    description: APIs for managing fee structures associated with a specific product
  - name: Product Bundle
    description: APIs for managing product bundles in the product management platform
  - name: Product Category
    description: APIs for managing product categories in the product management platform
  - name: Product Wizard
    description: APIs for creating products through a step-by-step wizard process
  - name: Product Localization
    description: APIs for managing localized data (translations, region-specific info) for a product
  - name: Fee Structure
    description: APIs for managing fee structures in the product platform
  - name: Product Pricing
    description: APIs for managing pricing records associated with a specific product
paths:
  /api/v1/products/{productId}/versions/{versionId}:
    get:
      tags:
        - Product Version
      summary: Get Product Version by ID
      description: Retrieve a specific product version using its unique identifier, ensuring it belongs to the specified product.
      operationId: getProductVersion
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: versionId
          in: path
          description: Unique identifier of the product version
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the product version record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductVersionDTO'
        '404':
          description: Product version not found
    put:
      tags:
        - Product Version
      summary: Update Product Version
      description: Update an existing version record associated with the specified product.
      operationId: updateProductVersion
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: versionId
          in: path
          description: Unique identifier of the product version record to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductVersionDTO'
        required: true
      responses:
        '200':
          description: Product version updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductVersionDTO'
        '404':
          description: Product version not found
    delete:
      tags:
        - Product Version
      summary: Delete Product Version
      description: Remove an existing product version record by its unique identifier.
      operationId: deleteProductVersion
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: versionId
          in: path
          description: Unique identifier of the product version to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Product version deleted successfully
        '404':
          description: Product version not found
  /api/v1/products/{productId}/relationships/{relationshipId}:
    get:
      tags:
        - Product Relationship
      summary: Get Product Relationship by ID
      description: Retrieve a specific relationship record by its unique identifier, ensuring it matches the product.
      operationId: getRelationship
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: relationshipId
          in: path
          description: Unique identifier of the product relationship record
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the product relationship record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductRelationshipDTO'
        '404':
          description: Product relationship not found
    put:
      tags:
        - Product Relationship
      summary: Update Product Relationship
      description: Update an existing product relationship record associated with the specified product.
      operationId: updateRelationship
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: relationshipId
          in: path
          description: Unique identifier of the product relationship record to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductRelationshipDTO'
        required: true
      responses:
        '200':
          description: Product relationship updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductRelationshipDTO'
        '404':
          description: Product relationship not found
    delete:
      tags:
        - Product Relationship
      summary: Delete Product Relationship
      description: Remove an existing product relationship record by its unique identifier.
      operationId: deleteRelationship
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: relationshipId
          in: path
          description: Unique identifier of the product relationship record to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Product relationship deleted successfully
        '404':
          description: Product relationship not found
  /api/v1/products/{productId}/pricings/{pricingId}/localizations/{localizationId}:
    get:
      tags:
        - Product Pricing Localization
      summary: Get Localization by ID
      description: Retrieve a specific localization record by its unique identifier.
      operationId: getLocalization
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product (unused in the service, but kept for hierarchy)
          required: true
          schema:
            type: string
            format: uuid
        - name: pricingId
          in: path
          description: Unique identifier of the product pricing record
          required: true
          schema:
            type: string
            format: uuid
        - name: localizationId
          in: path
          description: Unique identifier of the localization record
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the localization record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPricingLocalizationDTO'
        '404':
          description: Localization record not found
    put:
      tags:
        - Product Pricing Localization
      summary: Update Localization
      description: Update an existing localization record for a product pricing.
      operationId: updateLocalization
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product (unused in the service, but kept for hierarchy)
          required: true
          schema:
            type: string
            format: uuid
        - name: pricingId
          in: path
          description: Unique identifier of the product pricing record
          required: true
          schema:
            type: string
            format: uuid
        - name: localizationId
          in: path
          description: Unique identifier of the localization record to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPricingLocalizationDTO'
        required: true
      responses:
        '200':
          description: Localization record updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPricingLocalizationDTO'
        '404':
          description: Localization record not found
    delete:
      tags:
        - Product Pricing Localization
      summary: Delete Localization
      description: Remove an existing localization record by its unique identifier.
      operationId: deleteLocalization
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product (unused in the service, but kept for hierarchy)
          required: true
          schema:
            type: string
            format: uuid
        - name: pricingId
          in: path
          description: Unique identifier of the product pricing record
          required: true
          schema:
            type: string
            format: uuid
        - name: localizationId
          in: path
          description: Unique identifier of the localization record to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Localization record deleted successfully
        '404':
          description: Localization record not found
  /api/v1/products/{productId}/pricings/{pricingId}:
    get:
      tags:
        - Product Pricing
      summary: Get Product Pricing by ID
      description: Retrieve a specific product pricing record using its unique identifier, ensuring it matches the specified product.
      operationId: getPricing
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: pricingId
          in: path
          description: Unique identifier of the product pricing record
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the product pricing record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPricingDTO'
        '404':
          description: Product pricing not found
    put:
      tags:
        - Product Pricing
      summary: Update Product Pricing
      description: Update an existing pricing record associated with the specified product.
      operationId: updatePricing
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: pricingId
          in: path
          description: Unique identifier of the product pricing record to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPricingDTO'
        required: true
      responses:
        '200':
          description: Product pricing updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPricingDTO'
        '404':
          description: Product pricing not found
    delete:
      tags:
        - Product Pricing
      summary: Delete Product Pricing
      description: Remove an existing pricing record from a product by its unique identifier.
      operationId: deletePricing
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: pricingId
          in: path
          description: Unique identifier of the product pricing record to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Product pricing deleted successfully
        '404':
          description: Product pricing not found
  /api/v1/products/{productId}/localizations/{localizationId}:
    get:
      tags:
        - Product Localization
      summary: Get Product Localization by ID
      description: Retrieve a specific localization record for the given product.
      operationId: getLocalizationById
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: localizationId
          in: path
          description: Unique identifier of the localization record
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the product localization record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLocalizationDTO'
        '404':
          description: Product localization not found
    put:
      tags:
        - Product Localization
      summary: Update Product Localization
      description: Update an existing product localization record.
      operationId: updateLocalization_1
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: localizationId
          in: path
          description: Unique identifier of the localization record to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductLocalizationDTO'
        required: true
      responses:
        '200':
          description: Product localization updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLocalizationDTO'
        '404':
          description: Product localization not found
    delete:
      tags:
        - Product Localization
      summary: Delete Product Localization
      description: Remove an existing localization record from the product.
      operationId: deleteLocalization_1
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: localizationId
          in: path
          description: Unique identifier of the localization record to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Product localization deleted successfully
        '404':
          description: Product localization not found
  /api/v1/products/{productId}/limits/{limitId}:
    get:
      tags:
        - Product Limit
      summary: Get Product Limit by ID
      description: Retrieve a specific product limit by its unique identifier.
      operationId: getProductLimit
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: limitId
          in: path
          description: Unique identifier of the product limit
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the product limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLimitDTO'
        '404':
          description: Product limit not found
    put:
      tags:
        - Product Limit
      summary: Update Product Limit
      description: Update an existing product limit with new data.
      operationId: updateProductLimit
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: limitId
          in: path
          description: Unique identifier of the product limit to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductLimitDTO'
        required: true
      responses:
        '200':
          description: Product limit updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLimitDTO'
        '404':
          description: Product limit not found
    delete:
      tags:
        - Product Limit
      summary: Delete Product Limit
      description: Remove an existing product limit by its unique identifier.
      operationId: deleteProductLimit
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: limitId
          in: path
          description: Unique identifier of the product limit to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Product limit deleted successfully
        '404':
          description: Product limit not found
  /api/v1/products/{productId}/lifecycle/{lifecycleId}:
    get:
      tags:
        - Product Lifecycle
      summary: Get Product Lifecycle by ID
      description: Retrieve a specific lifecycle entry using its unique identifier, ensuring it belongs to the specified product.
      operationId: getProductLifecycle
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: lifecycleId
          in: path
          description: Unique identifier of the lifecycle entry
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the product lifecycle entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLifecycleDTO'
        '404':
          description: Lifecycle entry not found
    put:
      tags:
        - Product Lifecycle
      summary: Update Product Lifecycle
      description: Update an existing lifecycle entry associated with the specified product.
      operationId: updateProductLifecycle
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: lifecycleId
          in: path
          description: Unique identifier of the lifecycle entry to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductLifecycleDTO'
        required: true
      responses:
        '200':
          description: Product lifecycle entry updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLifecycleDTO'
        '404':
          description: Lifecycle entry not found
    delete:
      tags:
        - Product Lifecycle
      summary: Delete Product Lifecycle
      description: Remove an existing lifecycle entry from a product by its unique identifier.
      operationId: deleteProductLifecycle
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: lifecycleId
          in: path
          description: Unique identifier of the lifecycle entry to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Lifecycle entry deleted successfully
        '404':
          description: Lifecycle entry not found
  /api/v1/products/{productId}/fee-structures/{productFeeStructId}:
    get:
      tags:
        - Product Fee Structure
      summary: Get Fee Structure by ID
      description: Retrieve a specific fee structure by its unique identifier, confirming it belongs to the specified product.
      operationId: getFeeStructure
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: productFeeStructId
          in: path
          description: Unique identifier of the product fee structure
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the product fee structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFeeStructureDTO'
        '404':
          description: Fee structure not found
    put:
      tags:
        - Product Fee Structure
      summary: Update Fee Structure
      description: Update an existing fee structure for a specific product.
      operationId: updateFeeStructure
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: productFeeStructId
          in: path
          description: Unique identifier of the product fee structure to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductFeeStructureDTO'
        required: true
      responses:
        '200':
          description: Fee structure updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFeeStructureDTO'
        '404':
          description: Fee structure not found
    delete:
      tags:
        - Product Fee Structure
      summary: Delete Fee Structure
      description: Remove an existing fee structure from a specific product.
      operationId: deleteFeeStructure
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: productFeeStructId
          in: path
          description: Unique identifier of the fee structure to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Fee structure deleted successfully
        '404':
          description: Fee structure not found
  /api/v1/products/{productId}/features/{featureId}:
    get:
      tags:
        - Product Feature
      summary: Get Product Feature by ID
      description: Retrieve a specific product feature using its unique identifier, ensuring it matches the product.
      operationId: getFeature
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: featureId
          in: path
          description: Unique identifier of the feature
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the product feature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFeatureDTO'
        '404':
          description: Product feature not found
    put:
      tags:
        - Product Feature
      summary: Update Product Feature
      description: Update an existing feature associated with the specified product.
      operationId: updateFeature
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: featureId
          in: path
          description: Unique identifier of the product feature to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductFeatureDTO'
        required: true
      responses:
        '200':
          description: Product feature updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFeatureDTO'
        '404':
          description: Product feature not found
    delete:
      tags:
        - Product Feature
      summary: Delete Product Feature
      description: Remove an existing feature from the specified product.
      operationId: deleteFeature
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: featureId
          in: path
          description: Unique identifier of the product feature to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Product feature deleted successfully
        '404':
          description: Product feature not found
  /api/v1/products/{productId}/documentation/{docId}:
    get:
      tags:
        - Product Documentation
      summary: Get Product Documentation by ID
      description: Retrieve a specific documentation item by its unique identifier, ensuring it belongs to the specified product.
      operationId: getDocumentation
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: docId
          in: path
          description: Unique identifier of the documentation item
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the product documentation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDocumentationDTO'
        '404':
          description: Product documentation not found
    put:
      tags:
        - Product Documentation
      summary: Update Product Documentation
      description: Update an existing documentation item for a specific product.
      operationId: updateDocumentation
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: docId
          in: path
          description: Unique identifier of the documentation to be updated
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDocumentationDTO'
        required: true
      responses:
        '200':
          description: Product documentation updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDocumentationDTO'
        '404':
          description: Product documentation not found
    delete:
      tags:
        - Product Documentation
      summary: Delete Product Documentation
      description: Remove an existing product documentation item by its unique identifier.
      operationId: deleteDocumentation
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: docId
          in: path
          description: Unique identifier of the documentation to be deleted
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Product documentation deleted successfully
        '404':
          description: Product documentation not found
  /api/v1/products/{productId}/documentation-requirements/{requirementId}:
    get:
      tags:
        - Product Documentation Requirements
      summary: Get Product Documentation Requirement by ID
      description: Retrieve a specific documentation requirement by its unique identifier, ensuring it belongs to the specified product.
      operationId: getDocumentationRequirement
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: requirementId
          in: path
          description: Unique identifier of the documentation requirement
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the product documentation requirement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDocumentationRequirementDTO'
        '404':
          description: Product documentation requirement not found
    put:
      tags:
        - Product Documentation Requirements
      summary: Update Product Documentation Requirement
      description: Update an existing documentation requirement for a specific product.
      operationId: updateDocumentationRequirement
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: requirementId
          in: path
          description: Unique identifier of the documentation requirement to be updated
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDocumentationRequirementDTO'
        required: true
      responses:
        '200':
          description: Product documentation requirement updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDocumentationRequirementDTO'
        '404':
          description: Product documentation requirement not found
    delete:
      tags:
        - Product Documentation Requirements
      summary: Delete Product Documentation Requirement
      description: Remove an existing product documentation requirement by its unique identifier.
      operationId: deleteDocumentationRequirement
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: requirementId
          in: path
          description: Unique identifier of the documentation requirement to be deleted
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Product documentation requirement deleted successfully
        '404':
          description: Product documentation requirement not found
  /api/v1/products/{productId}:
    get:
      tags:
        - Product
      summary: Get Product by ID
      description: Retrieve a specific product by its unique identifier.
      operationId: getProduct
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDTO'
        '404':
          description: Product not found
    put:
      tags:
        - Product
      summary: Update Product
      description: Update the information of an existing product by its unique identifier.
      operationId: updateProduct
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDTO'
        required: true
      responses:
        '200':
          description: Product updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDTO'
        '404':
          description: Product not found
    delete:
      tags:
        - Product
      summary: Delete Product
      description: Remove an existing product by its unique identifier.
      operationId: deleteProduct
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Product deleted successfully
        '404':
          description: Product not found
  /api/v1/fee-structures/{feeStructureId}/components/{componentId}/rules/{ruleId}:
    get:
      tags:
        - Fee Application Rule
      summary: Get Fee Application Rule by ID
      description: Retrieve a specific fee application rule using its unique identifier.
      operationId: getRule
      parameters:
        - name: feeStructureId
          in: path
          description: Unique identifier of the fee structure
          required: true
          schema:
            type: string
            format: uuid
        - name: componentId
          in: path
          description: Unique identifier of the fee component
          required: true
          schema:
            type: string
            format: uuid
        - name: ruleId
          in: path
          description: Unique identifier of the fee application rule
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the fee application rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeApplicationRuleDTO'
        '404':
          description: Fee application rule not found
    put:
      tags:
        - Fee Application Rule
      summary: Update Fee Application Rule
      description: Update an existing fee application rule by its unique identifier.
      operationId: updateRule
      parameters:
        - name: feeStructureId
          in: path
          description: Unique identifier of the fee structure
          required: true
          schema:
            type: string
            format: uuid
        - name: componentId
          in: path
          description: Unique identifier of the fee component
          required: true
          schema:
            type: string
            format: uuid
        - name: ruleId
          in: path
          description: Unique identifier of the fee application rule to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeeApplicationRuleDTO'
        required: true
      responses:
        '200':
          description: Fee application rule updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeApplicationRuleDTO'
        '404':
          description: Fee application rule not found
    delete:
      tags:
        - Fee Application Rule
      summary: Delete Fee Application Rule
      description: Remove an existing fee application rule by its unique identifier.
      operationId: deleteRule
      parameters:
        - name: feeStructureId
          in: path
          description: Unique identifier of the fee structure
          required: true
          schema:
            type: string
            format: uuid
        - name: componentId
          in: path
          description: Unique identifier of the fee component
          required: true
          schema:
            type: string
            format: uuid
        - name: ruleId
          in: path
          description: Unique identifier of the fee application rule to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Fee application rule deleted successfully
        '404':
          description: Fee application rule not found
  /api/v1/fee-structures/{feeStructureId}/components/{componentId}:
    get:
      tags:
        - Product Fee Component
      summary: Get Fee Component by ID
      description: Retrieve a specific fee component by its unique identifier.
      operationId: getFeeComponent
      parameters:
        - name: feeStructureId
          in: path
          description: Unique identifier of the fee structure
          required: true
          schema:
            type: string
            format: uuid
        - name: componentId
          in: path
          description: Unique identifier of the fee component
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the fee component
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeComponentDTO'
        '404':
          description: Fee component not found
    put:
      tags:
        - Product Fee Component
      summary: Update Fee Component
      description: Update an existing fee component by its unique identifier.
      operationId: updateFeeComponent
      parameters:
        - name: feeStructureId
          in: path
          description: Unique identifier of the fee structure
          required: true
          schema:
            type: string
            format: uuid
        - name: componentId
          in: path
          description: Unique identifier of the fee component to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeeComponentDTO'
        required: true
      responses:
        '200':
          description: Fee component updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeComponentDTO'
        '404':
          description: Fee component not found
    delete:
      tags:
        - Product Fee Component
      summary: Delete Fee Component
      description: Remove an existing fee component by its unique identifier.
      operationId: deleteFeeComponent
      parameters:
        - name: feeStructureId
          in: path
          description: Unique identifier of the fee structure
          required: true
          schema:
            type: string
            format: uuid
        - name: componentId
          in: path
          description: Unique identifier of the fee component to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Fee component deleted successfully
        '404':
          description: Fee component not found
  /api/v1/fee-structures/{feeStructureId}:
    get:
      tags:
        - Fee Structure
      summary: Get Fee Structure by ID
      description: Retrieve a specific fee structure by its unique identifier.
      operationId: getFeeStructure_1
      parameters:
        - name: feeStructureId
          in: path
          description: Unique identifier of the fee structure
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the fee structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeStructureDTO'
        '404':
          description: Fee structure not found
    put:
      tags:
        - Fee Structure
      summary: Update Fee Structure
      description: Update an existing fee structure by its unique identifier.
      operationId: updateFeeStructure_1
      parameters:
        - name: feeStructureId
          in: path
          description: Unique identifier of the fee structure to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeeStructureDTO'
        required: true
      responses:
        '200':
          description: Fee structure updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeStructureDTO'
        '404':
          description: Fee structure not found
    delete:
      tags:
        - Fee Structure
      summary: Delete Fee Structure
      description: Remove an existing fee structure by its unique identifier.
      operationId: deleteFeeStructure_1
      parameters:
        - name: feeStructureId
          in: path
          description: Unique identifier of the fee structure
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Fee structure deleted successfully
        '404':
          description: Fee structure not found
  /api/v1/categories/{categoryId}/subtypes/{subtypeId}:
    get:
      tags:
        - Product Category
      summary: Get Category Subtype by ID
      description: Retrieve a specific product subtype using its unique identifier.
      operationId: getSubtype
      parameters:
        - name: categoryId
          in: path
          description: Unique identifier of the product category
          required: true
          schema:
            type: string
            format: uuid
        - name: subtypeId
          in: path
          description: Unique identifier of the product subtype
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the product subtype
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCategorySubtypeDTO'
        '404':
          description: Product subtype not found
    put:
      tags:
        - Product Category
      summary: Update Category Subtype
      description: Update an existing product subtype by its unique identifier.
      operationId: updateSubtype
      parameters:
        - name: categoryId
          in: path
          description: Unique identifier of the product category
          required: true
          schema:
            type: string
            format: uuid
        - name: subtypeId
          in: path
          description: Unique identifier of the product subtype
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCategorySubtypeDTO'
        required: true
      responses:
        '200':
          description: Product subtype updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCategorySubtypeDTO'
        '404':
          description: Product subtype not found
    delete:
      tags:
        - Product Category
      summary: Delete Category Subtype
      description: Remove an existing product subtype by its unique identifier.
      operationId: deleteSubtype
      parameters:
        - name: categoryId
          in: path
          description: Unique identifier of the product category
          required: true
          schema:
            type: string
            format: uuid
        - name: subtypeId
          in: path
          description: Unique identifier of the product subtype
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Product subtype deleted successfully
        '404':
          description: Product subtype not found
  /api/v1/categories/{categoryId}:
    get:
      tags:
        - Product Category
      summary: Get Product Category by ID
      description: Retrieve a specific product category by its unique identifier.
      operationId: getCategory
      parameters:
        - name: categoryId
          in: path
          description: Unique identifier of the product category
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the product category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCategoryDTO'
        '404':
          description: Product category not found
    put:
      tags:
        - Product Category
      summary: Update Product Category
      description: Update the information of an existing product category by its unique identifier.
      operationId: updateCategory
      parameters:
        - name: categoryId
          in: path
          description: Unique identifier of the product category to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCategoryDTO'
        required: true
      responses:
        '200':
          description: Product category updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCategoryDTO'
        '404':
          description: Product category not found
    delete:
      tags:
        - Product Category
      summary: Delete Product Category
      description: Remove an existing product category by its unique identifier.
      operationId: deleteCategory
      parameters:
        - name: categoryId
          in: path
          description: Unique identifier of the product category to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Product category deleted successfully
        '404':
          description: Product category not found
  /api/v1/bundles/{bundleId}/items/{itemId}:
    get:
      tags:
        - Product Bundle
      summary: Get Product Bundle Item by ID
      description: Retrieve a specific item within a product bundle using its unique item identifier.
      operationId: getProductBundleItemById
      parameters:
        - name: bundleId
          in: path
          description: Unique identifier of the product bundle
          required: true
          schema:
            type: string
            format: uuid
        - name: itemId
          in: path
          description: Unique identifier of the item within the product bundle
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the product bundle item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductBundleItemDTO'
        '404':
          description: Item not found in the specified product bundle
    put:
      tags:
        - Product Bundle
      summary: Update Product Bundle Item
      description: Update an existing item within a product bundle.
      operationId: updateProductBundleItem
      parameters:
        - name: bundleId
          in: path
          description: Unique identifier of the product bundle
          required: true
          schema:
            type: string
            format: uuid
        - name: itemId
          in: path
          description: Unique identifier of the item to be updated
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductBundleItemDTO'
        required: true
      responses:
        '200':
          description: Product bundle item updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductBundleItemDTO'
        '404':
          description: Item not found in the specified product bundle
    delete:
      tags:
        - Product Bundle
      summary: Delete Product Bundle Item
      description: Remove an existing item from a product bundle.
      operationId: deleteProductBundleItem
      parameters:
        - name: bundleId
          in: path
          description: Unique identifier of the product bundle
          required: true
          schema:
            type: string
            format: uuid
        - name: itemId
          in: path
          description: Unique identifier of the item to be deleted
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Product bundle item deleted successfully
        '404':
          description: Item not found in the specified product bundle
  /api/v1/bundles/{bundleId}:
    get:
      tags:
        - Product Bundle
      summary: Get Product Bundle by ID
      description: Retrieve a specific product bundle using its unique identifier.
      operationId: getById
      parameters:
        - name: bundleId
          in: path
          description: The unique identifier of the product bundle
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the product bundle
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductBundleDTO'
        '400':
          description: Invalid Bundle ID provided
        '404':
          description: Product bundle not found
    put:
      tags:
        - Product Bundle
      summary: Update Product Bundle
      description: Update the information of an existing product bundle by its unique identifier.
      operationId: update
      parameters:
        - name: bundleId
          in: path
          description: The unique identifier of the product bundle to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductBundleDTO'
        required: true
      responses:
        '200':
          description: Product bundle updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductBundleDTO'
        '400':
          description: Invalid input data or bundle ID provided
        '404':
          description: Product bundle not found
    delete:
      tags:
        - Product Bundle
      summary: Delete Product Bundle
      description: Delete an existing product bundle by its unique identifier.
      operationId: delete
      parameters:
        - name: bundleId
          in: path
          description: The unique identifier of the product bundle to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Product bundle deleted successfully
        '404':
          description: Product bundle not found
  /api/v1/products/{productId}/versions:
    get:
      tags:
        - Product Version
      summary: List Product Versions
      description: Retrieve a paginated list of all versions associated with the specified product.
      operationId: getAllProductVersions
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: pageNumber
          in: query
          description: The zero-based page number to retrieve.
          required: false
          schema:
            type: string
            description: The zero-based page number to retrieve.
            example: 0
            default: '0'
          example: 0
        - name: pageSize
          in: query
          description: The number of items per page.
          required: false
          schema:
            type: string
            description: The number of items per page.
            example: 10
            default: '10'
          example: 10
        - name: sortBy
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            description: The field to sort the results by.
            example: name
          example: name
        - name: sortDirection
          in: query
          description: The direction of sorting, either ASC or DESC.
          required: false
          schema:
            type: string
            description: The direction of sorting, either ASC or DESC.
            example: DESC
            default: DESC
          example: DESC
      responses:
        '200':
          description: Successfully retrieved the product versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '404':
          description: No product versions found for the specified product
    post:
      tags:
        - Product Version
      summary: Create Product Version
      description: Create a new product version for a specific product.
      operationId: createProductVersion
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductVersionDTO'
        required: true
      responses:
        '200':
          description: Product version created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductVersionDTO'
        '400':
          description: Invalid product version data provided
  /api/v1/products/{productId}/relationships:
    get:
      tags:
        - Product Relationship
      summary: List Product Relationships
      description: Retrieve a paginated list of all product relationships associated with the specified product.
      operationId: getAllRelationships
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: pageNumber
          in: query
          description: The zero-based page number to retrieve.
          required: false
          schema:
            type: string
            description: The zero-based page number to retrieve.
            example: 0
            default: '0'
          example: 0
        - name: pageSize
          in: query
          description: The number of items per page.
          required: false
          schema:
            type: string
            description: The number of items per page.
            example: 10
            default: '10'
          example: 10
        - name: sortBy
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            description: The field to sort the results by.
            example: name
          example: name
        - name: sortDirection
          in: query
          description: The direction of sorting, either ASC or DESC.
          required: false
          schema:
            type: string
            description: The direction of sorting, either ASC or DESC.
            example: DESC
            default: DESC
          example: DESC
      responses:
        '200':
          description: Successfully retrieved the product relationships
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '404':
          description: No relationships found for the specified product
    post:
      tags:
        - Product Relationship
      summary: Create Product Relationship
      description: Create a new relationship record for a specific product.
      operationId: createRelationship
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductRelationshipDTO'
        required: true
      responses:
        '200':
          description: Product relationship created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductRelationshipDTO'
        '400':
          description: Invalid product relationship data provided
  /api/v1/products/{productId}/pricings/{pricingId}/localizations:
    get:
      tags:
        - Product Pricing Localization
      summary: List Localizations for Product Pricing
      description: Retrieve a paginated list of all localization records associated with a specific product pricing.
      operationId: getAllLocalizations
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product (unused in the service, but kept for hierarchy)
          required: true
          schema:
            type: string
            format: uuid
        - name: pricingId
          in: path
          description: Unique identifier of the product pricing record
          required: true
          schema:
            type: string
            format: uuid
        - name: pageNumber
          in: query
          description: The zero-based page number to retrieve.
          required: false
          schema:
            type: string
            description: The zero-based page number to retrieve.
            example: 0
            default: '0'
          example: 0
        - name: pageSize
          in: query
          description: The number of items per page.
          required: false
          schema:
            type: string
            description: The number of items per page.
            example: 10
            default: '10'
          example: 10
        - name: sortBy
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            description: The field to sort the results by.
            example: name
          example: name
        - name: sortDirection
          in: query
          description: The direction of sorting, either ASC or DESC.
          required: false
          schema:
            type: string
            description: The direction of sorting, either ASC or DESC.
            example: DESC
            default: DESC
          example: DESC
      responses:
        '200':
          description: Successfully retrieved the localization records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '404':
          description: No localization records found for the specified pricing
    post:
      tags:
        - Product Pricing Localization
      summary: Create Localization for Product Pricing
      description: Create a new localization record and associate it with the specified product pricing.
      operationId: createLocalization
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product (unused in the service, but kept for hierarchy)
          required: true
          schema:
            type: string
            format: uuid
        - name: pricingId
          in: path
          description: Unique identifier of the product pricing record
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPricingLocalizationDTO'
        required: true
      responses:
        '200':
          description: Localization record created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPricingLocalizationDTO'
        '400':
          description: Invalid localization data provided
  /api/v1/products/{productId}/pricings:
    get:
      tags:
        - Product Pricing
      summary: List Product Pricings
      description: Retrieve a paginated list of all pricing records associated with the specified product.
      operationId: getAllPricings
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: pageNumber
          in: query
          description: The zero-based page number to retrieve.
          required: false
          schema:
            type: string
            description: The zero-based page number to retrieve.
            example: 0
            default: '0'
          example: 0
        - name: pageSize
          in: query
          description: The number of items per page.
          required: false
          schema:
            type: string
            description: The number of items per page.
            example: 10
            default: '10'
          example: 10
        - name: sortBy
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            description: The field to sort the results by.
            example: name
          example: name
        - name: sortDirection
          in: query
          description: The direction of sorting, either ASC or DESC.
          required: false
          schema:
            type: string
            description: The direction of sorting, either ASC or DESC.
            example: DESC
            default: DESC
          example: DESC
      responses:
        '200':
          description: Successfully retrieved the product pricings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '404':
          description: No pricing records found for the specified product
    post:
      tags:
        - Product Pricing
      summary: Create Product Pricing
      description: Create a new pricing record and associate it with a product.
      operationId: createPricing
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPricingDTO'
        required: true
      responses:
        '200':
          description: Product pricing created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPricingDTO'
        '400':
          description: Invalid product pricing data provided
  /api/v1/products/{productId}/localizations:
    get:
      tags:
        - Product Localization
      summary: List Product Localizations
      description: Retrieve a paginated list of all localizations associated with the specified product.
      operationId: getAllLocalizations_1
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: pageNumber
          in: query
          description: The zero-based page number to retrieve.
          required: false
          schema:
            type: string
            description: The zero-based page number to retrieve.
            example: 0
            default: '0'
          example: 0
        - name: pageSize
          in: query
          description: The number of items per page.
          required: false
          schema:
            type: string
            description: The number of items per page.
            example: 10
            default: '10'
          example: 10
        - name: sortBy
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            description: The field to sort the results by.
            example: name
          example: name
        - name: sortDirection
          in: query
          description: The direction of sorting, either ASC or DESC.
          required: false
          schema:
            type: string
            description: The direction of sorting, either ASC or DESC.
            example: DESC
            default: DESC
          example: DESC
      responses:
        '200':
          description: Successfully retrieved the list of product localizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '404':
          description: No localizations found for the specified product
    post:
      tags:
        - Product Localization
      summary: Create Product Localization
      description: Create a new localization record associated with a specific product.
      operationId: createLocalization_1
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductLocalizationDTO'
        required: true
      responses:
        '200':
          description: Product localization created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLocalizationDTO'
        '400':
          description: Invalid product localization data provided
  /api/v1/products/{productId}/limits:
    get:
      tags:
        - Product Limit
      summary: List Product Limits
      description: Retrieve a paginated list of all limits associated with the specified product.
      operationId: getAllProductLimits
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: pageNumber
          in: query
          description: The zero-based page number to retrieve.
          required: false
          schema:
            type: string
            description: The zero-based page number to retrieve.
            example: 0
            default: '0'
          example: 0
        - name: pageSize
          in: query
          description: The number of items per page.
          required: false
          schema:
            type: string
            description: The number of items per page.
            example: 10
            default: '10'
          example: 10
        - name: sortBy
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            description: The field to sort the results by.
            example: name
          example: name
        - name: sortDirection
          in: query
          description: The direction of sorting, either ASC or DESC.
          required: false
          schema:
            type: string
            description: The direction of sorting, either ASC or DESC.
            example: DESC
            default: DESC
          example: DESC
      responses:
        '200':
          description: Successfully retrieved the product limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '404':
          description: No limits found for the specified product
    post:
      tags:
        - Product Limit
      summary: Create Product Limit
      description: Create a new limit and associate it with a product.
      operationId: createProductLimit
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductLimitDTO'
        required: true
      responses:
        '200':
          description: Product limit created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLimitDTO'
        '400':
          description: Invalid product limit data provided
  /api/v1/products/{productId}/lifecycle:
    get:
      tags:
        - Product Lifecycle
      summary: List Product Lifecycles
      description: Retrieve a paginated list of all lifecycle entries associated with a given product.
      operationId: getProductLifecycles
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: pageNumber
          in: query
          description: The zero-based page number to retrieve.
          required: false
          schema:
            type: string
            description: The zero-based page number to retrieve.
            example: 0
            default: '0'
          example: 0
        - name: pageSize
          in: query
          description: The number of items per page.
          required: false
          schema:
            type: string
            description: The number of items per page.
            example: 10
            default: '10'
          example: 10
        - name: sortBy
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            description: The field to sort the results by.
            example: name
          example: name
        - name: sortDirection
          in: query
          description: The direction of sorting, either ASC or DESC.
          required: false
          schema:
            type: string
            description: The direction of sorting, either ASC or DESC.
            example: DESC
            default: DESC
          example: DESC
      responses:
        '200':
          description: Successfully retrieved lifecycles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '404':
          description: No lifecycle entries found for the specified product
    post:
      tags:
        - Product Lifecycle
      summary: Create Product Lifecycle
      description: Create a new lifecycle entry for a specific product.
      operationId: createProductLifecycle
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductLifecycleDTO'
        required: true
      responses:
        '200':
          description: Product lifecycle created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLifecycleDTO'
        '400':
          description: Invalid lifecycle data provided
  /api/v1/products/{productId}/fee-structures:
    get:
      tags:
        - Product Fee Structure
      summary: List Fee Structures by Product
      description: Retrieve a paginated list of fee structures associated with a given product.
      operationId: getAllFeeStructures
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: pageNumber
          in: query
          description: The zero-based page number to retrieve.
          required: false
          schema:
            type: string
            description: The zero-based page number to retrieve.
            example: 0
            default: '0'
          example: 0
        - name: pageSize
          in: query
          description: The number of items per page.
          required: false
          schema:
            type: string
            description: The number of items per page.
            example: 10
            default: '10'
          example: 10
        - name: sortBy
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            description: The field to sort the results by.
            example: name
          example: name
        - name: sortDirection
          in: query
          description: The direction of sorting, either ASC or DESC.
          required: false
          schema:
            type: string
            description: The direction of sorting, either ASC or DESC.
            example: DESC
            default: DESC
          example: DESC
      responses:
        '200':
          description: Successfully retrieved fee structures
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '404':
          description: No fee structures found for the specified product
    post:
      tags:
        - Product Fee Structure
      summary: Create Fee Structure
      description: Create a new fee structure and associate it with a specific product.
      operationId: createFeeStructure
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductFeeStructureDTO'
        required: true
      responses:
        '200':
          description: Product fee structure created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFeeStructureDTO'
        '400':
          description: Invalid fee structure data provided
  /api/v1/products/{productId}/features:
    get:
      tags:
        - Product Feature
      summary: List Product Features
      description: Retrieve a paginated list of all features associated with the specified product.
      operationId: getAllFeatures
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: pageNumber
          in: query
          description: The zero-based page number to retrieve.
          required: false
          schema:
            type: string
            description: The zero-based page number to retrieve.
            example: 0
            default: '0'
          example: 0
        - name: pageSize
          in: query
          description: The number of items per page.
          required: false
          schema:
            type: string
            description: The number of items per page.
            example: 10
            default: '10'
          example: 10
        - name: sortBy
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            description: The field to sort the results by.
            example: name
          example: name
        - name: sortDirection
          in: query
          description: The direction of sorting, either ASC or DESC.
          required: false
          schema:
            type: string
            description: The direction of sorting, either ASC or DESC.
            example: DESC
            default: DESC
          example: DESC
      responses:
        '200':
          description: Successfully retrieved the list of product features
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '404':
          description: No features found for the specified product
    post:
      tags:
        - Product Feature
      summary: Create Product Feature
      description: Create a new feature linked to the specified product.
      operationId: createFeature
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductFeatureDTO'
        required: true
      responses:
        '200':
          description: Product feature created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFeatureDTO'
        '400':
          description: Invalid feature data provided
  /api/v1/products/{productId}/documentation-requirements:
    get:
      tags:
        - Product Documentation Requirements
      summary: List Product Documentation Requirements
      description: Retrieve a paginated list of all documentation requirements for a given product.
      operationId: getAllDocumentationRequirements
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: pageNumber
          in: query
          description: The zero-based page number to retrieve.
          required: false
          schema:
            type: string
            description: The zero-based page number to retrieve.
            example: 0
            default: '0'
          example: 0
        - name: pageSize
          in: query
          description: The number of items per page.
          required: false
          schema:
            type: string
            description: The number of items per page.
            example: 10
            default: '10'
          example: 10
        - name: sortBy
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            description: The field to sort the results by.
            example: name
          example: name
        - name: sortDirection
          in: query
          description: The direction of sorting, either ASC or DESC.
          required: false
          schema:
            type: string
            description: The direction of sorting, either ASC or DESC.
            example: DESC
            default: DESC
          example: DESC
      responses:
        '200':
          description: Successfully retrieved product documentation requirements list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '404':
          description: No documentation requirements found for the specified product
    post:
      tags:
        - Product Documentation Requirements
      summary: Create Product Documentation Requirement
      description: Create a new documentation requirement for a specific product.
      operationId: createDocumentationRequirement
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product to associate this documentation requirement with
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDocumentationRequirementDTO'
        required: true
      responses:
        '200':
          description: Product documentation requirement created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDocumentationRequirementDTO'
        '400':
          description: Invalid product documentation requirement data provided
  /api/v1/products/{productId}/documentation:
    get:
      tags:
        - Product Documentation
      summary: List Product Documentation
      description: Retrieve a paginated list of all documentation items linked to a given product.
      operationId: getAllDocumentation
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: pageNumber
          in: query
          description: The zero-based page number to retrieve.
          required: false
          schema:
            type: string
            description: The zero-based page number to retrieve.
            example: 0
            default: '0'
          example: 0
        - name: pageSize
          in: query
          description: The number of items per page.
          required: false
          schema:
            type: string
            description: The number of items per page.
            example: 10
            default: '10'
          example: 10
        - name: sortBy
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            description: The field to sort the results by.
            example: name
          example: name
        - name: sortDirection
          in: query
          description: The direction of sorting, either ASC or DESC.
          required: false
          schema:
            type: string
            description: The direction of sorting, either ASC or DESC.
            example: DESC
            default: DESC
          example: DESC
      responses:
        '200':
          description: Successfully retrieved product documentation list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '404':
          description: No documentation found for the specified product
    post:
      tags:
        - Product Documentation
      summary: Create Product Documentation
      description: Create a new documentation item for a specific product.
      operationId: createDocumentation
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product to associate this documentation with
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDocumentationDTO'
        required: true
      responses:
        '200':
          description: Product documentation created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDocumentationDTO'
        '400':
          description: Invalid product documentation data provided
  /api/v1/products:
    get:
      tags:
        - Product
      summary: List Products
      description: Retrieve a paginated list of products.
      operationId: getAllProducts
      parameters:
        - name: pageNumber
          in: query
          description: The zero-based page number to retrieve.
          required: false
          schema:
            type: string
            description: The zero-based page number to retrieve.
            example: 0
            default: '0'
          example: 0
        - name: pageSize
          in: query
          description: The number of items per page.
          required: false
          schema:
            type: string
            description: The number of items per page.
            example: 10
            default: '10'
          example: 10
        - name: sortBy
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            description: The field to sort the results by.
            example: name
          example: name
        - name: sortDirection
          in: query
          description: The direction of sorting, either ASC or DESC.
          required: false
          schema:
            type: string
            description: The direction of sorting, either ASC or DESC.
            example: DESC
            default: DESC
          example: DESC
      responses:
        '200':
          description: Successfully retrieved the list of products
[...]
